body{
    background-color: lightgrey;
    padding: 20px;
}

#main{
    background-color: whitesmoke;
    padding: 15px;
}

#title{
    padding: 10px;
    background-color: rgba(93, 93, 145, 0.582);
    text-align: center;
    margin-bottom: 15px;
}

#back_link{
    padding: 10px;
    background-color: rgba(93, 93, 145, 0.582);
    text-align: center;
    margin-bottom: 15px;
}

#header{
    padding: 10px;
    background-color: white;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    border-bottom: 5px black solid ;
}

#header-img{
    max-width: 50px;
    align-self: flex-start;
    padding-left: 50px;

}

#nav-bar{
    border: 15px;
    align-items: flex-end;
    float: right;
}
.nav-link{
    color: white;
    background-color: rgb(59, 53, 53);
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
}
.nav-link:hover{
    background-color: black;
}

#content{
    background-color: rgba(93, 93, 145, 0.582);
    padding: 15px;
    text-align: center;
    align-items: center;
    margin-top: 60px;
}
@media only screen and (max-width: 550px){
    #content{
        margin-top: 165px;
    }
}

#content img{
    max-width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 15px;
    align-items: center;
}

@media only screen and (max-width: 600px){
    .column{
       flex-basis: 50%;
    }
}

#video-section{
    background-color: rgba(93, 93, 145, 0.582);
    padding: 15px;
    text-align: center;
    align-items: center;
}

#video{
    max-width: 100%;
}

#form-section{
    background-color: rgba(93, 93, 145, 0.582);
    padding: 15px;
    text-align: center;
    align-items: center;
}

#submit{
    background-color: royalblue;
}